
<!DOCTYPE html>
<html lang="en" ng-app="puzzlesApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>Puzzles- A gateway to Entertainment</title>

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/puzzlesController.js"></script>


<!-- Custom styles for this template -->
<link href="css/custom.css" rel="stylesheet">
</head>

<body>
<div ng-controller="searchController">
	<!-- NAVBAR
		================================================== -->
	<div class="navbar-wrapper">
		<div class="container">

			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#navbar"
							aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Puzzles</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse" >
						
							<form class="navbar-form navbar-left" role="search">
								<div class="form-group">
									<input type="text" ng-model="searchText" class="form-control"
										placeholder="Movie/Theater/Zip/City ">
								</div>
								<button type="submit" class="btn btn-default" ng-click="search()">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
								</button>
							</form>
					
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#">Sign In</a> </li>
							<li><a href="#">Join Now</a></li>
							<li><a href="#">Help</a></li>
						</ul>

						</form>
					</div>
					<!--/.navbar-collapse -->
				</div>
			</nav>

		</div>
	</div>

<!-- to display search results -->

<div class="panel panel-default" ng-show="searchResult" >
  <div class="panel-heading">
    <h3 class="panel-title">Search results</h3>
  </div>
  <div class="panel-body">
   <p ng-class="{'alert alert-error':errorStatus,'alert alert-success':!errorStatus}">
    <a ng-show="searchResult.Movie" ng-if="searchResult.Movie.length==1"> Found {{searchResult.Movie.length}} Movie </a>
    <a ng-show="searchResult.Movie" ng-if="searchResult.Movie.length>1"> Found {{searchResult.Movie.length}} Movies </a>
    <a ng-show="searchResult.Theater" ng-if="searchResult.Theater.length==1">Found {{searchResult.Theater.length}} Theater</a>
    <a ng-show="searchResult.Theater" ng-if="searchResult.Theater.length>1">Found {{searchResult.Theater.length}} Theaters</a>
    </p>
   <div class="bs-example" data-example-id="simple-thumbnails">
    <div class="row"  >
      <div class="col-sm-6 col-md-4"  ng-repeat="result in searchResult.Movie" style="width:300px; height:330px" >
        <a href="#" class="thumbnail" ng-show="searchResult.Movie" style=" width: 220px; height: 260px;">
          <img src="{{result.poster}}"  alt="{{result.ID}}" style=" width: 190px; height: 250px;">
        <!--  <div class="caption" >
            <h3>{{result.name}}</h3>
           </div>  -->
        </a>
        </div>
         <div class="col-sm-6 col-md-4" ng-repeat="result in searchResult.Theater" style="width:300px; height:330px">
        <a href="#" class="thumbnail"  ng-show="searchResult.Theater" style=" width: 220px; height: 260px;">
          <img src="img/amc.jpg"  alt="{{result.ID}}" style=" width: 190px; height: 250px;">

        </a>
      </div>
    </div>
  </div>
  </div>
</div>

<!-- End of search results -->
		<!-- Carousel
    ================================================== -->
		<div ng-hide="searchResult">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				Indicators
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="img/avengers2.jpeg" alt="First slide">
					</div>
					<div class="item ">
						<img src="img/Furious.jpg" alt="Second slide">
					</div>
					<div class="item">
						<img src="img/Cinderella.png" alt="Third slide">
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#myCarousel" role="button"
				data-slide="prev"> <span
				class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a> <a class="right carousel-control" href="#myCarousel" role="button"
				data-slide="next"> <span
				class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
<!-- end of carousel-->
	</div>
	<!-- end of search controller -->
	
	<!-- Start movie listing tab -->

	<div class="container marketing" ng-controller="puzzlesMovieController">
		<div class="panel panel-default">
			<div class="panel-heading">Movies</div>
			<div class="panel-body">
				<div class="bs-example" data-example-id="simple-nav-justified">
					<ul class="nav nav-pills nav-jtified" >
						<li role="presentation" ng-class="{active :movieResult}" ><a ng-init="getNowPlaying()" ng-click="getNowPlaying()" >Now Playing</a></li>
						<li role="presentation" ng-class="{active :movieWeekResult}" > <a ng-click="getThisWeek()">Opening This Week</a></li>
						<li role="presentation" ng-class="{active :movieSoonResult}"><a ng-click="comingSoon()">Coming Soon</a></li>
					</ul>
					

					<div class="bs-example" data-example-id="simple-thumbnails"  >
						<div class="row">
							<div class="col-xs-6 col-md-3"  ng-repeat="movie in movieResult"  ng-hide="!movieResult" >
							<div ng-controller="movieDetailsController">
								<a ng-click="movieDetail(movie.movie.movieId)" class="thumbnail"> <img
									src="{{movie.movie.moviePoster}}" alt="{{movie.movie.movieName}}">
								</a></div>
							</div>
							 <div class="col-xs-6 col-md-3"  ng-repeat="movie in movieWeekResult" ng-hide="!movieWeekResult">
								<a href="#" class="thumbnail"> <img
									src="{{movie.movie.moviePoster}}" alt="{{movie.movie.movieName}}">
								</a>
							</div>
							
							 <div class="col-xs-6 col-md-3"  ng-repeat="movie in movieSoonResult"  ng-hide="!movieSoonResult">
								<a href="#" class="thumbnail"> <img
									src="{{movie.movie.moviePoster}}" alt="{{movie.movie.movieName}}">
								</a>
							</div>
						
						</div>
					</div>
					<!--  /.bs-example-->
				</div>
			</div>
		</div>
</div>
<!-- 	Marketing messaging and featurettes
    ==================================================
	Wrap the rest of the page in another container to center all the content.

	<div class="container marketing">
		<div class="panel panel-default">
			<div class="panel-heading">Movies</div>
			<div class="panel-body">
				<div class="bs-example" data-example-id="simple-nav-justified">
					<ul class="nav nav-pills nav-justified">
						<li role="presentation" class="active"><a href="#">Now
								Playing</a></li>
						<li role="presentation"><a href="#">Opening This Week</a></li>
						<li role="presentation"><a href="#">Coming Soon</a></li>
					</ul>

					<div class="bs-example" data-example-id="simple-thumbnails">
						<div class="row">
							<div class="col-xs-6 col-md-3">
								<a href="#" class="thumbnail"> <img
									src="img/cinderella_th.jpg" alt="Generic placeholder thumbnail">
								</a>
							</div>
							<div class="col-xs-6 col-md-3">
								<a href="#" class="thumbnail"> <img
									src="img/american-sniper-movie-poster.jpg"
									alt="Generic placeholder thumbnail">
								</a>
							</div>
							<div class="col-xs-6 col-md-3">
								<a href="#" class="thumbnail"> <img
									src="img/runallnight.jpg" alt="Generic placeholder thumbnail">
								</a>
							</div>
							<div class="col-xs-6 col-md-3">
								<a href="#" class="thumbnail"> <img src="img/focus.jpg"
									alt="Generic placeholder thumbnail">
								</a>
							</div>
						</div>
					</div>
					/.bs-example
				</div>
			</div>
		</div>

		START THE FEATURETTES

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">
					First featurette heading. <span class="text-muted">It'll
						blow your mind.</span>
				</h2>
				<p class="lead">Donec ullamcorper nulla non metus auctor
					fringilla. Vestibulum id ligula porta felis euismod semper.
					Praesent commodo cursus magna, vel scelerisque nisl consectetur.
					Fusce dapibus, tellus ac cursus commodo.</p>
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-responsive"
					data-src="holder.js/500x500/auto" alt="Generic placeholder image">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-5">
				<img class="featurette-image img-responsive"
					data-src="holder.js/500x500/auto" alt="Generic placeholder image">
			</div>
			<div class="col-md-7">
				<h2 class="featurette-heading">
					Oh yeah, it's that good. <span class="text-muted">See for
						yourself.</span>
				</h2>
				<p class="lead">Donec ullamcorper nulla non metus auctor
					fringilla. Vestibulum id ligula porta felis euismod semper.
					Praesent commodo cursus magna, vel scelerisque nisl consectetur.
					Fusce dapibus, tellus ac cursus commodo.</p>
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">
					And lastly, this one. <span class="text-muted">Checkmate.</span>
				</h2>
				<p class="lead">Donec ullamcorper nulla non metus auctor
					fringilla. Vestibulum id ligula porta felis euismod semper.
					Praesent commodo cursus magna, vel scelerisque nisl consectetur.
					Fusce dapibus, tellus ac cursus commodo.</p>
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-responsive"
					data-src="holder.js/500x500/auto" alt="Generic placeholder image">
			</div>
		</div>

		<hr class="featurette-divider">

		/END THE FEATURETTES


		FOOTER
		<footer>
			<p class="pull-right">
				<a href="#">Back to top</a>
			</p>
			<p>
				&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot;
				<a href="#">Terms</a>
			</p>
		</footer>

	</div> -->
	<!-- /.container -->


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="../../assets/js/docs.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
